@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('./colors.css'); */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --secondary-color: theme('colors.stone.200');
  --secondary-colorPressed: theme('colors.stone.400');

  --primary-color: theme('colors.red.900');
  --primary-colorPressed: theme('colors.red.800');

  --background-color: theme('colors.white');
  --alternate-background-color: theme('colors.stone.300');

  --text-color: theme('colors.neutral.500');
  --text-accent-color: theme('colors.neutral.700');
  --primary-text-color: theme('colors.neutral.200');
  --secondary-text-color: theme('colors.neutral.200');
  --link-color: theme('colors.neutral.600');
  --link-colorPressed: theme('colors.neutral.400');
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

html[data-theme='dark'] {
  --text-color: theme('colors.neutral.800');
  --link-color: theme('colors.purple.500');

  --background-color: theme('colors.white');
  --alternate-background-color: theme('colors.gray.400');
}

html[data-theme='light'] {
  --text-color: theme('colors.neutral.800');
  --link-color: theme('colors.purple.400');

  --background-color: theme('colors.neutral.700');
  --alternate-background-color: theme('colors.gray.400');
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: var(--background-color);
  color: var(--text-color);
}
@layer base {
  p {
    color: var(--text-color);
    @apply mb-1 text-left text-xs  md:text-base;
  }

  a {
    color: var(--link-color);
    transition: 0.2s;
    @apply text-left text-xs lg:text-sm;
  }

  a:hover {
    cursor: pointer;
    color: var(--link-colorPressed);
    /* transform: scale(1); */
  }

  h1,
  h2,
  h3 {
    color: var(--text-accent-color);
    @apply text-left;
  }

  h1 {
    @apply text-2xl sm:text-xl;
  }

  h2 {
    @apply text-xl sm:text-lg;
  }

  h3 {
    @apply text-base;
  }

  svg {
    @apply inline h-6 w-6 text-left text-zinc-500 sm:text-xs md:text-base;
  }
}
