.root {
  @apply items-center gap-1 rounded px-4 py-1;

  &:hover {
    @apply cursor-pointer;
  }

  &_size_s {
    @apply text-sm md:text-base;
  }

  &_size_m {
    @apply text-base md:text-lg;
  }

  &_size_lg {
    @apply py-2 text-lg md:text-xl;
  }

  &_block {
    @apply inline-block;
  }

  &_type_primary {
    /* !important - плохо, но preflight переписывает кнопки на прозрачные, так то пусть будет так */
    background: var(--primary-color-light) !important;
    color: var(--button-text-color);
  }

  &_type_primary:hover {
    background: var(--primary-colorPressed) !important;
  }

  &_type_link {
    color: var(--link-color);
    background: transparent !important;
    @apply p-0 transition-all;
  }

  &_type_text {
    background: transparent !important;

    @apply p-0 transition-all;
  }

  &_type_link:hover {
    @apply opacity-60;
  }

  &_type_secondary {
    background: var(--secondary-color) !important;
    color: var(--secondary-text-color) !important;
  }

  &_type_secondary:hover {
    background: var(--secondary-colorPressed) !important;
  }

  &_disabled {
    cursor: default;
    opacity: 0.7;
  }
}

.loader {
  animation: rotating 2s linear infinite;
  filter: invert(0) !important;
  height: 18px;
  width: 18px;

  [data-theme='dark'] .root_theme_secondary & {
    filter: invert(1) !important;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
