.root {
  @apply flex flex-row;
  padding: 0 1rem;
  flex-direction: row;
  gap: 4;
  height: fit-content;
  width: fit-content;
  padding: 0.6rem 1rem;
  line-height: 1.2rem;
  border: 0;
  font-size: medium;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: 0.2s;

  &_type_primary:hover {
    background: var(--primary-colorPressed);
  }

  &_type_primary {
    background: var(--primary-color);
    color: var(--primary-text-color);
  }

  &_type_secondary {
    background: var(--secondary-color);
    color: var(--secondary-text-color);
  }

  &_type_secondary:hover {
    background: var(--secondary-colorPressed);
  }

  &_size_s {
    padding: 0;
  }

  &_size_m {
    @media (--s-viewport) {
    }
  }

  &_disabled {
    cursor: default;
    opacity: 0.7;
  }
}

.loader {
  animation: rotating 2s linear infinite;
  filter: invert(0) !important;
  height: 18px;
  width: 18px;

  [data-theme='dark'] .root_theme_secondary & {
    filter: invert(1) !important;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
