// html,
// body {
//   padding: 0;
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// * {
//   box-sizing: border-box;
// }

// $primary-color: #e6e8e6;
// $secondary-color: #6f0908;
// $border-color: #ced0ce;
// $third-color: #9fb8ad;
// $text-color: #475841;


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --coffee2:rgb(246, 242, 235) !important;
      --coffee:white !important;
      --blackblue: rgb(24,52,81) !important;
      --brown: rgb(94,54,46) !important;
      --blackcorall: rgb(121,146,157) !important;
      --silver: rgb(116,106,104) !important;
      --transparentcorall: #e7e5e4 !important;
    }
  }
 
@layer components{
    .site-bg{
        background-color:var(--coffee);
    }
    .primary-bg{
        background-color: var(--blackblue);
    }
    .secondary-bg{
        background-color: var(--transparentcorall);
    }
    .secondary-border{
        border-color: var(--blackcorall);
    }
    .text-primary{
        color: var(--silver)
    }
    .text-secondary{
        color: var(--coffee)
    }
    .hover-shadow{
       @extend .shadow-lg !optional;
        //@extend .shadow-[#dd0000];
    }
}